ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1, h3 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.three {
    color: blue;
}

.java {
    background-color: pink;
}

li.website:hover {
    font-weight: bold;
}

li.website a[href*='stack'] {
    color: orange
}

li.website a[href*='w3schools'], a[href*='trybe'] {
    color: green
}

li.website a[href*='mozilla'] {
    color: black
}

li.website a[href*='devdocs'] {
    color: yellow 
}
