/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
}
article {
}
h1 {
}
h2 {
}
img {
	max-width: 100%;
}
main {
}
section {
}
figure {
	margin: 0;
}
figcaption {
  font-size: .8em;
}

@media (min-width: 768px) {
  body {
    background-color: cadetblue;
    margin: 0 50px;
    font-size: larger;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  body {
    background-color: aquamarine;
    margin: 0 80px;
    max-width: 1000px;
    font-size: x-large;
  }
}